<div class="container">

  <h1> Contents </h1>
  <div id="contents-container"> </div>

</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var contentsContainer = document.getElementById("contents-container");

        // Make AJAX request to fetch JSON data
        var request = new XMLHttpRequest();
        request.open("GET", "/contents.json", true);
        request.onreadystatechange = function() {
            if (request.readyState === 4 && request.status === 200) {
                var contents = JSON.parse(request.responseText);

                // Render JSON content on the page
                contentsContainer.innerText = JSON.stringify(contents);
            }
        };
        request.send();
    });
</script>

<%#= javascript_include_tag 'content.js', 'data-turbo-track': 'reload', defer:true %>