<div class="container">
  <div id="contents-container"> </div>
  <div class="">
    <section>
      <div class="gx-lg-5 flex-nowrap ">
      <% @contents.each do |content| %>
          <ul class="list-group list-group-light px-4 mt-1">
            <li class="list-group-item border border-dark">
              <h3 class="mb-2"><%= content.title %></h3>
              <%= link_to "Show", content_path(content), class: "btn btn-primary" %>
              <%= link_to "Edit", edit_content_path(content), class: "btn btn-warning" %>
              <%= link_to "Delete",content_path(content), class: "btn btn-danger",method: :delete, data:{turbo_method: :delete, turbo_confirm:"are you sure?"}%>
            </li>
          </ul>
      <% end %>
  </div>
    </section>

  </div>
</div>


<!--for json view-->
<%#= javascript_include_tag 'content.js', 'data-turbo-track': 'reload', defer:true %>