<div id="<%= dom_id team %>">
  <p>
    <strong>Name:</strong>
    <%= team.name %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= team.position %>
  </p>

  <p>
    <strong>Pictures:</strong>
    <%= team.pictures %>
  </p>

</div>
