<p style="color: green"><%= notice %></p>

<h1>Teams</h1>

<div id="teams">
  <% @teams.each do |team| %>
    <%= render team %>
    <p>
      <%= link_to "Show this team", api_v1_team_path(team) %>
    </p>
  <% end %>
</div>

<%= link_to "New team", new_api_v1_team_path %>
