<div class="container">
  <h3> 会社情報 </h3>
  <h1> Company Profile</h1>
  <p> 日本という国で生まれた法人であるため、始めは日本を中心としたサービスを展開していますが、
    最終的には世界中の人々が日本の法人をキッカケに、すべての人々がいつでもどこでも活躍できる世界を実現させ、
    地球も人間も豊かにしていけるようにビジネス領域から取り組んで参ります。 </p>
</div>